@{
    ViewBag.Title = "About";
}
<h1>Welcome to BlueberrySwap</h1>
<br />
<p>BlueberrySwap is a web application built to serve the local community as a platform to buy, sell, and trade personal goods. It is meant to emulate the wholesome environment of a farmers market with the efficiency and ease of e-commerce. A user’s access to BlueberrySwap is restricted to their own specific neighborhood, so the transactional nature of the application is kept on their own backyard. Locals have the opportunity to share their homegrown blueberries and fresh-baked bread beyond next-door neighbors, which allows the strengthening of the community. BlueberrySwap allows locals to test the marketability of their passions by granting space to share homemade treasures, be it produce, apparel, or home goods.</p>
