@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title</h2>

<address>
    1032 W Sheridan<br />
    Chicago, IL 60660<br />
    <abbr title="Phone">Phone</abbr>
    425.555.0100
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:svishi@luc.edu">svishi@luc.edu</a><br />
    <strong>Marketing:</strong> <a href="mailto:vdoshi1@luc.edu">vdoshi</a>
</address>